.view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.containerGreeting {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.box1Greeting {
    width: 100%;
    overflow: hidden;
}

h1 {
    color: white;
    font-family: 'Silkscreen', cursive;
}

.box2Greeting {
    position: relative;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Silkscreen', cursive;
}

.box2Greeting h2 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff;
}

.lightbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 100px #00b3ff;
    animation: animateLightbar 5s linear infinite;
}

@keyframes animateLightbar {

    0%,
    5% {
        transform: scaleY(0) translateX(0);
    }

    10% {
        transform: scaleY(1) translateX(0);
    }

    90% {
        transform: scaleY(1) translateX(calc(400px - 10px));
    }

    95%,
    100% {
        transform: scaleY(1) translateX(calc(400px - 10px));
    }
}


@media screen and (max-width: 480px) {

    .containerGreeting {
        justify-content: center;
    }

    .box2Greeting,
    .box1Greeting {
        width: 300px;
        text-align: center;
    }

    .topLayer {
        height: 150%;
    }

    .lightbar {
        width: 10px;
        height: 150%;
        animation: animateLightbar 5.5s linear infinite;
    }

}