h1 {
    font-family: 'Silkscreen', cursive;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    overflow: hidden;
}