.tagCloud {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.myCanvas {
    width: 100%;
}

/* @media screen and (max-width: 480px) {
    #aca562621-dfe8-46bc-8d07-644f870fa7c2 {
        width: 300;
    }

} */