.tagCloud {
    position: relative;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.myCanvas {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .tagCloud {
        width: 100%;
    }
}